#footer{
  margin-top:30px;
  padding:20px;
  color:#fff;
  background:#333;
}
.list-group{
  margin-bottom: 10px;
}

#btn-letters{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

